html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}

#trophyContainer{
  padding-top: 8rem;
  padding-bottom: 2rem;
}

#start-btn{ 
  margin-top: 13rem;
  padding-left: 80px;
  padding-right: 80px;
}

#unlocked-container, #locked-container{
  min-height: 800px;

}

#locked-container{
 border-width: 1rem;
 border-color: red;
}

#add-task-btn{
  margin-top: 2rem;
}

#achievements-content{
  min-height: 300px;
}

#achievements-content-tag{
  padding: 150px 0;
  font-size: 20px;
}

#add-task-form{
  z-index: 1000;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

#achievement-delete{
  float: right;
}
